<!DOCTYPE html>

<html>

   <head>

    <link href="/assets/style.css" rel="stylesheet" type="text/css" />

   </head>

   <body>
     <% include partial/nav.ejs %>
     <p> CONTACT US ! </p>
     <p>Thanks for getting in touch with Us :) </p>

     <p>You contacted : <%= data.who %></p>
     <p>Of  <%= data.department %>  department</p>
     <p>We will reply to you at  <%= data.email %></p>

   </body>

 </html>
