<!DOCTYPE html>

<html>

   <head>

    <link href="/assets/style.css" rel="stylesheet" type="text/css" />

   </head>

   <body>
     <% include partial/nav.ejs %>
     <p>Dibyo Majumder </p>
     <p>221 B Bakers Street </p>

   </body>


</html>
