body {
  background: lightblue;font-weight: bolder ; text-transform: uppercase; color: white; font-family: sans-serif; padding: 30px;
}

p{
  font-size: 26px;  text-align: center;
}

form{
  width: 400px;
  max-width: 100%;
  padding: 20px;
  margin: 20px auto;
}

input, label {
  display: block;
  margin: 10px 0px;
  padding: 5px;
  width: 100%;
}

input[type='submit']{
  width: auto;
}
